TARGET_DIR=""
SMARTSHEET_API=""
SMARTSHEET_ID=""
SMARTSHEET_NAME=""
SMARTSHEET_USER=""
MAIL_FROM=admin@website.com
MAIL_TO="User 1 <user1@website.com>, User 2 <user2@website.com>"
MAIL_CC="User 3 <user3@website.com>"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@example.com
MAIL_PASSWORD=password
